:root {
  --c-primary: #96C22E;
  --c-danger: #EF6969;
}

.primary {
  color: var(--c-primary) !important;
  border-color: var(--c-primary) !important;

  &:hover {
    color: white !important;
    background-color: var(--c-primary) !important;
  }

  &-bg {
    background-color: var(--c-primary) !important;
  }
}

.danger {
  color: var(--c-danger) !important;
  border-color: var(--c-danger) !important;

  &:hover {
    color: white !important;
    background-color: var(--c-danger) !important;
  }

  &-bg {
    background-color: var(--c-danger) !important;
  }
}

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, x-locale-body, sans-serif;;
}

button, input[type="button"], input[type="submit"], input[type="reset"], textarea {
  outline: none;
  user-select: none;

  &.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
}

body {
  height: 100vh;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 50px;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid gray;
    position: absolute;
    bottom: 0;
    display: block;
  }
}

section.content {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  display: flex;

  * {
    color: #787878;
    font-size: 16px;
  }

  .panel {
    width: 250px;
    border: 1px solid black;
    overflow: hidden;

    &.left-panel {
      display: flex;
      flex-direction: column;

      .control-buttons {
        width: 100%;
        padding: 5px;
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.08);
        z-index: 2;
      }

      .items-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        z-index: 1;

        .item {
          display: flex;
          align-items: stretch;
          cursor: pointer;
          position: relative;
          border-bottom: 1px solid #bbbbbb;
          padding: 5px;

          &.active {
            background-color: hsl(71, 100%, 88%) !important;

            .thumb .text  {
              background: var(--c-primary);

              svg {
                fill: white;
              }
            }
          }

          .thumb {
            margin: 5px;
            padding: 0;
            max-width: 48px;
            min-width: 48px;
            min-height: 48px;
            max-height: 48px;
            position: relative;
            border-radius: 4px;
            overflow: hidden;

            div {
              width: 100%;
              height: 100%;

              &.image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }

              &.text {
                background-color: #e3e4e8;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                  fill: #98a0b1;
                  width: 2em;
                  height: 2em;
                }
              }
            }
          }

          .content {
            margin: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .title {
              text-transform: capitalize;
            }

            .actions {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              margin-top: 5px;

              .action-button {
                position: relative;
                cursor: pointer;

                & + .action-button {
                  margin-left: 5px;
                }

                &:before {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  transform-origin: center;
                  font-weight: bolder;
                }

                &.remove {
                  &:before {
                    content: '\2715';
                  }

                  &:hover {
                    color: #c40000;
                  }
                }

                &.to-top {
                  &:before {
                    content: '\21E4';
                    transform: rotateZ(90deg);
                  }
                }

                &.up {
                  &:before {
                    content: '\279E';
                    transform: rotateZ(-90deg);
                  }
                }

                &.down {
                  &:before {
                    content: '\279E';
                    transform: rotateZ(90deg);
                  }
                }

                &.to-bottom {
                  &:before {
                    content: '\21E4';
                    transform: rotateZ(-90deg);
                  }
                }
              }

              .divider {
                flex-grow: 2;
              }
            }
          }
        }
      }
    }

    &.right-panel {
      display: flex;
      flex-direction: column;

      .tools-panel {
        display: flex;
        flex-direction: column;

        .tools-group {
          padding: 5px;
        }
      }
    }
  }

  .canvas-handler {
    flex-grow: 2;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
  }

}

.buttons-group {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .button {
    border: 1px dotted #787878;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    & + .button {
      border-left: none;
    }
  }

  & + .buttons-group {
    margin-top: 5px;
  }
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  .tab-tile {
    width: 100%;
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #bbbbbb;
    position: relative;
    font-weight: bold;
    cursor: pointer;

    & + .tab-tile:before {
      content: '';
      display: block;
      height: 100%;
      border-left: 1px solid #bbbbbb;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.active {
      border-bottom: 2px solid var(--c-primary);
      color: var(--c-primary) !important;
    }
  }
}


.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input-label {
    width: 100%;
    padding: 5px 0 10px 0;
    font-size: 1.2em;
  }

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: row;

    &.text-with-button {
      label {
        display: inline-flex;
        border: 1px solid var(--c-primary);
        border-radius: 4px 0 0 4px;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-right: none;

        &:before {
          content: '#';
          display: inline;
          left: 0;
          margin: 0 10px;
          position: relative;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-family: monospace;
          letter-spacing: 1px;
          text-transform: lowercase;
        }
      }

      .button {
        display: inline-block;
        max-width: 30%;
        min-width: fit-content;
        padding: 8px 10px;
        border-radius: 0 4px 4px 0;
        outline: none;
        border: none;
        font-weight: bolder;
        background: var(--c-primary);
        color: white;
        cursor: pointer;
      }
    }

    textarea {
      width: 100%;
      resize: none;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid var(--c-primary);

      &:focus {
        background-color: #F4FFC2;
      }
    }
  }
}
