*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  outline: none;
  user-select: none;
}

body {
  height: 100vh;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 50px;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid gray;
    position: absolute;
    bottom: 0;
    display: block;
  }
}

section.content {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  display: flex;

  .items-list {
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    * {
      color: #787878;
    }

    .item {
      display: flex;
      background-color: #f5fbff;
      cursor: pointer;
      position: relative;

      &.active {
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: red;
        }
      }

      &:nth-child(even) {
        background-color: #e2f6ff;
      }

      .thumb {
        margin: 5px;
        padding: 0;
        width: 32px;
        height: 32px;

        .image {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 32px;
          height: 32px;
        }
      }

      .title {
        padding: 10px 0 10px 10px;
      }
    }
  }

  .control-panel {
    width: 200px;
    border: 1px solid black;
    padding: 15px;

    * {
      font-size: 16px;
    }
    & > * {
      width: 100%;
    }
    button {
      outline: none;
      padding: 3px 0;
      cursor: pointer;
    }
  }

  .canvas-handler {
    flex-grow: 2;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
  }

}
